
.searchContent {
	max-width: 100%;
	background-color: #002a3a;
	margin-bottom: 1%;
}

.searchPanel {
	color: #e4e2df;
	max-width: 60%;
	margin-left: auto;
	margin-right:auto;
	padding: 50px 0px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

button[type='submit'] {
	background-color: #bb8a35;
	color: #2e2a25;
	padding: 15px 20px;
	border: 2px solid black;
	transition: all .3s;
}

button[type='submit']:hover {
	background-color: #e4e2df;
}

span, #increment-down, #increment-up {
	border: 2px solid #e4e2df;
	padding: 15px 20px;
	cursor: pointer;
	color: inherit;
	background-color: transparent;
	transition: all .3s;
}

span:hover, #increment-down:hover, #increment-up:hover {
	color: #2e2a25;
	background-color: #bb8a35;
}

.selected {
	color: #2e2a25;
	background-color: #bb8a35;
}

#increment-input {
	border: 2px solid #e4e2df;
	padding: 15px 20px;
	color: inherit;
	background-color: transparent;
	max-width: 95px;
}

.selector, .incrementor {
	margin-right: 15px;
}